<section class="visual" {{#if bg}}style="background-image: url('{{bg}}')"{{else}} style="background-color: {{bg-color}};"{{/if}}>
    <div class="visual__heading text-center" data-reveal>
        {{#if subtitle}}
            <p class="visual__subtitle ">{{subtitle}}</p>
        {{/if}}
        {{#if title}}
            <h1 class="visual__title">{{title}}</h1>
        {{/if}}

    </div>
</section>