<div class="heading heading-type-{{type}} {{color}} {{#if negative}}negative{{/if}}">
    {{#if heading}}{{#if h}}<h{{h}} class="h">{{else}}<strong class="h">{{/if}}<i>{{heading}}</i>{{#if h}}</h{{h}}>{{else}}</strong>{{/if}}{{/if}}
    {{#if sub_heading}}<span class="sub-h"><i>{{sub_heading}}</i></span>{{/if}}
</div>