<!DOCTYPE html>
<!--[if lt IE 10]><html class="no-js ie" lang="en"><![endif]-->
<!--[if gt IE 10]><!-->
<html class="no-js sr" lang="en"><!--<![endif]-->
{{> "layout/head"}}
<body class="{{#if hp}}hp {{else if wishlist}}bg-orange{{else}}sp{{/if}} preload">

<div id="body">
    {{> "layout/header"}}
    <main id="page">
        <input type="checkbox" id="op">
        <div class="overlay overlay__hugeinc">
            <label for="op"></label>
            <nav>
                <ul>
                    {{#each menu as |item|}}
                        <li><a href="/dist/{{item}}.html">{{item}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>
        {{! skládání šablon - v php jako {include file="$template"} !}}
        {{#if hp}}
            {{> "components/visual" bg="../../userfiles/visual-bg.jpg" subtitle="original design" title="Unique and inspired"}}
            {{> "components/arrivals_slider"}}
            {{> "components/category_card" type="h2"}}
            {{> "components/designers" type="h2"}}
            {{> "components/currator" type="h2"}}
            {{> "components/lookbook" type="h2"}}
            {{> "parts/social_nav"}}
        {{/if}}

        {{#if profil}}
            {{> "components/profil_visual" type="h2"}}
            {{> "parts/profil_gallery"}}
            {{> "parts/ui/wsw"}}
            {{> "parts/social_nav"}}
        {{/if}}

        {{#if studio}}
            {{> "components/visual" bg="../../userfiles/studio-bg.jpg" title="The Studio"}}
            {{> "components/meetbox"}}
            {{> "components/single-box"}}
            {{> "components/peoples"}}
            {{> "components/boxes"}}
            {{> "parts/social_nav"}}
        {{/if}}

        {{#if designers}}
            {{> "components/welcome" type="h1" bg-color="#f9e5d3"}}
            {{> "parts/designers"}}
            {{> "components/lookbook" type="h2"}}
            {{> "parts/social_nav"}}
        {{/if}}

        {{#if eshop-list}}
            {{> "components/visual" bg="//placehold.it/1920x260" mod="visual--small"}}
            {{> "components/eshop-filter"}}
            {{> "components/eshop-list"}}
            {{> "components/last-view"}}
            {{> "components/peoples" btn-inline=1}}
            {{> "parts/social_nav" links=1}}
        {{/if}}

        {{#if interactive}}
            {{> "components/interactive"}}
        {{/if}}

        {{#if product_detail}}
            {{> "components/product_detail"}}
            {{> "components/last-view"}}
            {{> "parts/social_nav" links=1}}
        {{/if}}

        {{#if basket}}
            {{> "components/basket"}}
            {{> "components/last-view"}}
            {{> "parts/social_nav" links=1}}
        {{/if}}


        {{#if wishlist}}
            {{> "components/wishlist"}}
            {{> "parts/social_nav" links=1}}
        {{/if}}



    </main>
    {{> "layout/footer"}}
</div>

<!--
&lt;!&ndash;[if lt IE 10]><script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script><![endif]&ndash;&gt;
&lt;!&ndash;[if gt IE 10]>&lt;!&ndash;dash;&gt;<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>&lt;!&ndash;<![endif]&ndash;&gt;
&lt;!&ndash;[if lt IE 9]>
<script type="text/javascript" src="js/ie.js" defer></script><![endif]&ndash;&gt;
-->
{{#each js as |url|}}
    <script type="text/javascript" src="{{url}}"></script>
{{/each}}
</body>
</html>
