<form class="part_filter">
    <div class="title" data-filter-toggle>
        <i>Pokročilé vyhledávání</i>
    </div>
    <div class="filter" data-switch-filter>
        <div class="filter_content">
            <div class="switch-nav multi">
                <a href="#" class="btn switch-button"><i>Název</i></a>
                <a href="#" class="btn switch-button"><i>Typ produktu</i></a>
                <a href="#" class="btn switch-button"><i>Značka výrobce</i></a>
                <a href="#" class="btn switch-button"><i>Barva</i></a>
                <a href="#" class="btn switch-button"><i>Kategorie</i></a>
            </div>
            <div class="switch-area">
                <div class="switch-content">
                    <div class="item-search">
                        <div class="inner"><input name="search" placeholder="Hledat ..." type="text"> <button class="icon icon-search"></button></div>
                    </div>
                </div>
                <div class="switch-content">
                    {{#each items as |item|}}
                        <div class="item">
                            <input type="checkbox" name="checkbox" id="f-checkbox-{{@index}}" />
                            <label for="f-checkbox-{{@index}}">
                                <span class="icon"></span>
                                <i>{{item.name}} {{@index}}</i>
                            </label>
                        </div>
                    {{/each}}
                </div>
                <div class="switch-content">
                    {{#each items as |item|}}
                        <div class="item">
                            <input type="checkbox" name="checkbox" id="f-checkbox-{{@index}}" />
                            <label for="f-checkbox-{{@index}}">
                                <span class="icon"></span>
                                <i>{{item.name}} {{@index}}</i>
                            </label>
                        </div>
                    {{/each}}
                </div>
                <div class="switch-content">
                    {{#each items as |item|}}
                        <div class="item">
                            <input type="checkbox" name="checkbox" id="f-checkbox-{{@index}}" />
                            <label for="f-checkbox-{{@index}}">
                                <span class="icon"></span>
                                <i>{{item.name}} {{@index}}</i>
                            </label>
                        </div>
                    {{/each}}
                </div>
                <div class="switch-content">
                    {{#each items as |item|}}
                        <div class="item">
                            <input type="checkbox" name="checkbox" id="f-checkbox-{{@index}}" />
                            <label for="f-checkbox-{{@index}}">
                                <span class="icon"></span>
                                <i>{{item.name}} {{@index}}</i>
                            </label>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="filter_bottom">
            <div class="row">
                <div class="col text-left" data-filter-bottom-labels></div>
                <div class="col text-right">
                    <div class="multi">
                        <button class="btn btn-type-1 no-mob color-e" data-filter-reset>
                            <span class="icon icon-close"></span>
                            <i>Resetovat</i>
                        </button><button class="btn btn-type-1 no-mob color-c">
                        <span class="icon icon-search"></span>
                        <i>Vyhledat</i>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>